/*Modal add Price*/

.modalAddVac {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: rgba(1, 1, 1, 0.5);
}

.addVacForm {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    background-color: white;
    width: 300px;
    padding: 20px;

    text-align: center;
    border-radius: 10px;
}

.addFormInput {
    width: 100%;
    padding: 4px 5px;
    border-radius: 8px;
    border: 1px solid rgb(138, 136, 136);
    margin-bottom: 10px;
}

.addFormInput:focus::placeholder {
    color: transparent;
}

.hideBtn {
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;
    background-color: unset;
}

.addVacForm h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 25px;
}

.confirmAddVac {
    font-size: 18px;
    background-color: #fff;
    border-radius: 20px;
    border: #000 solid 2px;
    color: #000;
    padding: 0px 10px;
}

.confirmAddVac:hover {
    background-color: #e4f2ff;
    /* color: #fff; */
    border: #e4f2ff solid 2px;
}